@charset "utf-8";
/* CSS Document */
body{padding-top: 50px; font-family: "微软雅黑";}
nav{background-color: #fff !important;}
/*导航条*/
.dropdown-menu {min-width: 80px !important;}
.navbar-nav a:hover{background-color: #337ab7 !important; color: #fff !important;}
.dropdown:hover .dropdown-menu{display: block;}
/*产品*/
/*产品*/
.new-products{text-align:center; margin:10px 0;position: relative;}
.new-products img{ display:inline-block; height:200px; width:200px; border:1px solid #ccc; }
.new-products img:hover{box-shadow: 3px 3px 6px #666;}
.hot{display: block; width: 45px; height: 45px;background-position: left bottom; position:absolute; top:5px; right:0;}
.separator-strip{  border-radius: 3px ;background-color: #bce7c9;height: 20px;margin: 30px 0;}

.company-info p{text-indent: 2em;line-height: 1.75em;}
.company-info img{width:100%;margin-bottom: 10px;}
.news{margin:10px 0 30px; border-top:2px solid #ccc;} 
.news h5{font-size: 16px; color: #666; font-weight:bold;}
.news li{margin:10px 0;}
.news li span{float:right;}
.news a{color:#333;text-decoration: none;}
.news a:hover{color: #0000FF;}
.footer{ width:100%; background-color:#ccc; padding-bottom:5px;}
.footer-info{padding:10px 10px 0;}
.copyright a{color:#333; padding-top: 10px;}
/*右下角动态显示QQ,微信,电话及返回顶部*/
.right-bottom{position: fixed;bottom: 50px;right:5px;width: 73px;margin-left: 40px;border: 1px solid #a38a54;border-radius: 3px;}
.qq-box a, .wx-box a{display: block;width: 72px;height: 72px;}
.qq-box,.wx-box,.phone-box,.go-top{width: 72px;height: 72px;line-height: 72px;cursor: pointer;text-align: center;margin:0;}
.hot, .qq-box, .wx-box,.phone-box,.go-top{background-image: url(../images/icon.png);background-repeat: no-repeat;}
.qq-box{background-position: 0 0;background-color:#6da9de;}
.qq-box:hover{background-color:#488bc7;}
.wx-box{background-position: 0 -75px;background-color:#78c340;position: relative;}
.wx-box:hover{background-color:#58a81c;}
.wx-box #wx-icon{position:absolute;left:-150px;top:0;display: none;}
.phone-box{background-position: 0 -160px; background-color:#fbb01f;position: relative;}
.phone-box:hover{background-color:#ff811b;}
#phone{background-color:#ff811b;width:160px;position:absolute;left:-160px;top:0;line-height:72px;color:#FFF;font-size:18px;text-align:center;display:none;}
.go-top {display: none;background-position: 0 -240px;background-color: #666;}
.go-top:hover{background-color:#444;}
/*关于我们*/
.aboutus{margin-top:20px; margin-bottom: 20px;}
.aboutus p{margin:10px;  line-height:2;}
/*合作伙伴*/
.partner {margin:10px 10px 20px; }
.partner p{margin:0; padding: 0;text-align: left;}
.partner span{display:block; height: 120px; width: 120px; background-image: url(../images/partner.jpg);background-repeat:no-repeat;}
.partner01{background-position: 0 0;}
.partner02{background-position: 0 -120px;}
.partner03{background-position: 0 -240px;}
.partner04{background-position: 0 -360px;}
.partner05{background-position: 0 -480px;}
.partner06{background-position: 0 -600px;}
.partner07{background-position: 0 -720px;}
.partner08{background-position: 0 -840px;}
.partner09{background-position: 0 -960px;}
.partner10{background-position: 0 -1080px;}
/*.partner img{height: 120px; width: 120px;}*/
.jobs{margin:20px 10px;border-bottom: 1px dotted #ccc;}
.jobs li{line-height: 30px;}
.contact-info li{ list-style-type: none; line-height: 35px; color: #333; }
.contact-info li a{color: #333;}
.conact-item{display: inline-block;width: 120px;text-align: right; margin-right: 15px;}
.map-box {margin-left: 50px; margin-top: 20px; } 
/*产品展示*/
.product-img{margin:15px 0;}
.product-img img{display: inline-block; width:500px; border: 1px solid #ccc;}
.product-content{width: 500px; margin:15px auto;}
.product-content h5, .product-content h6{font-weight: bold;}
/*成功案例*/
.case{clear:both; margin:20px 0; height:230px;}
.case img{display: block; width: 300px; height: 200px;}
.case p{margin:10px 0;}
.case-info img{display: block; width: 500px; margin:20px auto;}
.case-info h5,.case-info p{ margin: 10px 100px; text-indent: 2em;}
.case-info h5{padding: 10px 0; font-weight: bold;}
/*新闻资讯*/
.news-item{margin:20px 40px 30px;border-bottom: 1px solid #ccc;}
.news-content p{text-align: left; padding-left: 0; margin-left: 0; line-height: 24px; text-indent: 2em; }
.news-content h4{font-weight: bold;margin-bottom: 20px; text-align: center;}
.news-content h5{font-weight: bold; margin-top: 20px;text-indent: 2em;}
.news-content img{display: block; margin:15px auto;}
